qiskit==1.1.1
qiskit-aer==0.14.2
qiskit-ibm-runtime==0.24.1
qiskit-machine-learning==0.7.2
qiskit-nature[pyscf]==0.7.2
qiskit-transpiler-service==0.4.3
prototype-zne==1.3.1
dwave-ocean-sdk==7.0.0
scikit-learn==1.4.0
seaborn==0.13.2
matplotlib==3.8.3
pandas==2.2.2
jupyterlab==4.2.0
ipykernel==6.29.3
pipdeptree==2.23.0
pylatexenc==2.10
rustworkx==0.15.1
ipympl==0.9.4